.container{
    width: 100%;
    height: 120svh;
    background-image: url("../../public/aot.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    scroll-behavior: smooth;
}


.container h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 100px;
    color: rgb(209, 205, 199)
}


.container img{
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 15%;
    animation: reiner;
    animation-timeline:scroll(root block) ;
}


@keyframes reiner {
    0% {scale: 1.2; bottom: 15%;}
    100% { scale: 1; bottom:0;}
}